.sticker
{
  position : relative;
}

.sticker__text
{
  text-align  : center;
  font-weight : bold;
  font-size   : 18px;
  padding-top : 100px;
  color       : #ffffff;
}

.sticker__icon
{
  position      : absolute;
  left          : 50%;
  margin-bottom : 30px;
}

.sticker_theme_circle
{
  border-radius    : 50%;
  width            : 108px;
  height           : 108px;
  border           : 1px solid #ffffff;
  background-color : #0d8fe3;
}

.sticker_theme_circle .sticker__text
{
  font-family    : 'Open Sans Condensed', sans-serif;
  text-transform : uppercase;
  font-size      : 16px;
  margin-top     : 44px;
  padding-top    : 0;
}

.sticker_theme_circle .sticker__icon
{
  margin-bottom : 0;
}

.sticker__icon_img_medal
{
  width            : 60px;
  height           : 70px;
  margin-left      : -30px;
  background-image : url(sticker__icon_medal.png);
}

.sticker__icon_img_list
{
  width            : 52px;
  height           : 70px;
  margin-left      : -26px;
  background-image : url(sticker__icon_list.png);
}

.sticker__icon_img_clock
{
  width            : 70px;
  height           : 70px;
  margin-left      : -35px;
  background-image : url(sticker__icon_clock.png);
}

.sticker__icon_img_pig
{
  width            : 70px;
  height           : 58px;
  margin-left      : -35px;
  background-image : url(sticker__icon_pig.png);
}

.sticker__icon_img_tool
{
  width            : 68px;
  height           : 70px;
  margin-left      : -34px;
  background-image : url(sticker__icon_tool.png);
}

.sticker__icon_img_donation
{
  width            : 70px;
  height           : 70px;
  margin-left      : -35px;
  background-image : url(sticker__icon_donation.png);
}

.sticker__icon_img_quality
{
  top              : -15px;
  margin-left      : -24px;
  width            : 48px;
  height           : 58px;
  background-image : url(sticker__icon_quality.png);
}

.sticker__icon_img_time
{
  top              : -25px;
  margin-left      : -31px;
  width            : 50px;
  height           : 58px;
  background-image : url(sticker__icon_time.png);
}

.sticker__icon_img_calendar
{
  top              : -12px;
  margin-left      : -21px;
  width            : 42px;
  height           : 41px;
  background-image : url(sticker__icon_calendar.png);
}

.sticker__icon_img_delivery
{
  top              : -10px;
  margin-left      : -24px;
  width            : 48px;
  height           : 40px;
  background-image : url(sticker__icon_delivery.png);
}